{% load common %}{% load widgets %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>{% block title %}Марсоход#1{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}favicon.png"/>
	<script type="text/javascript" src='{{ STATIC_URL }}js/jquery-1.7.1.min.js'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}js/jqueryrotate.js'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}js/swfobject.js'></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/shadowbox.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/shadowbox/shadowbox.css"/>
	<script type="text/javascript">
		Shadowbox.init();
		$(function() {
			$('body').delegate(
				'#sb-player',
				'click',
				function() {
					Shadowbox.next();
				}
			);
		});
	</script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"/>
	{% block head %}{% endblock %}
</head>
<body>
	<div id=page>
		<a class=frames href="{% url index %}" style='background-image:url({{ STATIC_URL }}img/head/{% rand 1 9 %}.jpg)'></a>
		<div class=frameholes></div>
		<div id=menu>
			<a href="{% url index %}">
				<img src='{{ STATIC_URL }}img/menu/logo2.png'><br>
				<span>Группа</span>
			</a>
			<a href="{% url demo2 %}">
				<img src='{{ STATIC_URL }}img/menu/demo2.png' title="55°28'06.9&quot; 37°17'11.9&quot; (2011)"><br>
				<span>Демо &laquo;<em>55°28'06.9&quot; 37°17'11.9&quot;</em>&raquo; (2011)</span>
			</a>
			<a href="{% url demo1 %}">
				<img src='{{ STATIC_URL }}img/menu/risunki.png' title='"Рисунки" (2009)'><br>
				<span>Демо &laquo;<em>Рисунки</em>&raquo; (2009)</span>
			</a>
			<a href="{% url pano %}">
				<img src='{{ STATIC_URL }}img/menu/base.png'><br>
				<span>База для выхода в космос</span>
			</a>
			<a href="{% url calls %}">
				<img src='{{ STATIC_URL }}img/menu/calls.png'><br>
				<span>Позывные</span>
			</a>
			<a href='{% url video %}'>
				<img src="{{ STATIC_URL }}img/menu/video.png"><br>
				<span>Видео</span>
			</a>
		</div>

		<div id=content>
			{% block content %}{% endblock %}
			{% social %}
		</div>
	</div>
	<a href="http://vkontakte.ru/club770007" style="position:fixed;right:20px;bottom:20px"><img src="{{ STATIC_URL }}img/vkontakte.png"></a>
	{% metrica %}
</body>
</html>
