{% extends "base.html" %}
{% block content %}

<h1>55°28'06.9" 37°17'11.9"</h1>

<center>
<object width="854" height="640"><param name="movie" value="http://pan0.net/v/up-1736"><param name="allowScriptAccess" value="always"><param name="allowFullScreen" value="true"><embed src="http://pan0.net/v/up-1736" type="application/x-shockwave-flash" width="854" height="640" allowScriptAccess="always" allowFullScreen="true"></embed></object>
</center>

<hr>

<script type="text/javascript">
	$(function() {
		$('#content').mousewheel(function(e) {
			e.preventDefault();
			return false;
		});
	});
</script>

{% endblock %}