{% extends "base.html" %}
{% load widgets %}

{% block title %}«{{ album.title }}»{% endblock %}

{% block head %}
    <script src="https://w.soundcloud.com/player/api.js"></script>
    <script type="text/javascript">
        $(function() {
            var player = SC.Widget($('#sc-player').get(0));
            $('.record3-tracks').on('click', '.track', function(e) {
                var track = Number($(this).attr('data-track'));
                player.skip(track);
                player.play();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <iframe id="sc-player" width="100%" height="165" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F3388581&amp;color=283aa4&amp;auto_play=false&amp;show_artwork=false"></iframe>

    <div class="record3-tracks">
        <div class="prev"></div>
        {% for track in album.tracks %}<div
                class="track track-{{ forloop.counter }}"
                data-track="{{ forloop.counter0 }}"
                title="{{ track.title }}"></div>{% endfor %}
        <div class="next"></div>
    </div>
    <hr>

    {% for p in images %}
        {% thumb p %}
    {% endfor %}

    <h2>Участвовали</h2>
    <ul>
        <li>Евгений Гамза — голос, барабаны, труба, шейкер</li>
        <li>Алексей Шлыков — гитара</li>
        <li>Олех Калачев — пианино, бас-гитара, бэк</li>
        <li>Алексей Кузнецов — сведение, запись</li>
        <li>Андрей Кравченко — запись</li>
        <li>Дмитрий Киряков — запись</li>
        <li>Артем Петухов — бас-балалайка</li>
    </ul>

    <h2>О записи</h2>
    <p>
        Запись была сделана на Питерской студии «Галерная 20», студиях «Нота», «y-wave» и в Краснопахорской детской школе искусств.
    </p>

    <h2>
        Тексты
        <button class="lyrics-shuffle">перемешать</button>
    </h2>
    {% for track in album.tracks %}
        {% if track.lyrics %}
            <h3>{{ forloop.counter }}. {{ track.title }}</h3>
            <pre class=lyrics>{{ track.lyrics }}</pre>
            {% if track.artwork %}
                {% intext_thumb track.artwork %}
            {% endif %}
        {% endif %}
    {% endfor %}

    <script type="text/javascript">
        $('.lyrics-shuffle').click(function() {
            function shuffle( array ) {	// Shuffle an array
                for(var j, x, i = array.length; i; j = parseInt(Math.random() * i), x = array[--i], array[i] = array[j], array[j] = x);
                return true;
            }
            $('.lyrics').each(function() {
                var lines = $(this).html().split('\n');
                // Remove empty lines
//                lines = lines.filter(function(e) {
//                    return !(/^\s*$/.test(e));
//                });
                do {
                    shuffle(lines)
                } while (/(\n{3,})|(^\n)|(\n\n$)/.test(lines.join('\n')));
                $(this).html(lines.join('\n'));
            });
        });
    </script>

{% endblock %}
