{% extends "base.html" %}

{% block title %}«{{ album.title }}»{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jPlayer/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jPlayer/jplayer.playlist.min.js"></script>
    {% include "json_playlist.html" %}
    <script type="text/javascript">
        $(function() {
            var playlistPlayer = new jPlayerPlaylist({
                jPlayer: "#jPlayer",
                cssSelectorAncestor: "#jPlayer-container"
            }, playlist, {
                swfPath: "{{ STATIC_URL }}js/jPlayer",
                solution: "html, flash",
                supplied: "mp3, oga",
                loop: true
            });
            $('.record3-tracks').on('click', '.track', function(e) {
                var track = $(this).attr('data-track');
                if (track == playlistPlayer.current) {
                    // TODO: seek for position
                }
                playlistPlayer.play(track);
            });
            var element = $('#jPlayer');
            var progressTimer = window.setInterval(function() {
                var position = element.data('jPlayer').status.currentPercentAbsolute;
                var tracks = $('.record3-tracks .track');
                var track = tracks.eq(playlistPlayer.current);
                var height = track.height();
                tracks.css('background-position-y', '');
                track.css('background-position-y', (position / 100 * height) + 'px');
            }, 10);
        });
    </script>
{% endblock %}

{% block content %}
    <h1>
        <div id="jPlayer-container" class="jp" style="float:right">
            <div id="jPlayer"></div>
            <button class="jp-previous">Prev</button>
            <button class="jp-play">Play</button>
            <button class="jp-pause">Pause</button>
            <button class="jp-next">Next</button>
            <div class="jp-seek-bar">
                <div class="jp-play-bar"></div>
            </div>
            <div class="jp-volume-bar">
                <div class="jp-volume-bar-value"></div>
            </div>
        </div>
        &laquo;{{ album.title }}&raquo;
    </h1>

    <div class="record3-tracks">
        <div class="prev"></div>
        {% for track in album.tracks %}<div
                class="track track-{{ forloop.counter }}"
                data-track="{{ forloop.counter0 }}"
                title="{{ track.title }}"></div>{% endfor %}
        <div class="next"></div>
    </div>

    <script>
//        function rotate() {
//            $('.record3-tracks .track').each(function() {
//                var match = $(this).attr('class').match(/track-(\d*)/);
//                var cl = match[0];
//                var i = parseInt(match[1]);
//                i = i == 1 ? 5 : i - 1;
//                $(this).removeClass(cl).addClass('track-' + i);
//            });
//        }
    </script>

    <h2>Участвовали</h2>
    <ul>
        <li>Евгений Гамза — голос, барабаны, труба, шейкер</li>
        <li>Алексей Шлыков — гитара</li>
        <li>Олех Калачев — пианино, бас-гитара, бэк</li>
        <li style="margin-top: 1em">Алексей Кузнецов — сведение, звук</li>
        <li>Андрей Кравченко — звук</li>
        <li>Дмитрий Киряков — звук</li>
        <li>Артем Петухов — бас-балалайка</li>
        <li>Алексей Зверев — редактирование</li>
    </ul>

    <h2>Записи о</h2>
    <p>
        Запись была сделана на Питерской студии «Галерная 20», студиях «Нота», «y-wave» и в Краснопахорской детской школе искусств.
    </p>

    <h2>
        Тексты
        <button class="lyrics-shuffle">перемешать</button>
    </h2>
    {% for track in album.tracks %}
        {% if track.lyrics %}
            <h3>{{ forloop.counter }}. {{ track.title }}</h3>
            <pre class=lyrics>{{ track.lyrics }}</pre>
        {% endif %}
    {% endfor %}

    <script type="text/javascript">
        $('.lyrics-shuffle').click(function() {
            function shuffle( array ) {	// Shuffle an array
                for(var j, x, i = array.length; i; j = parseInt(Math.random() * i), x = array[--i], array[i] = array[j], array[j] = x);
                return true;
            }
            $('.lyrics').each(function() {
                var lines = $(this).html().split('\n');
                // Remove empty lines
//                lines = lines.filter(function(e) {
//                    return !(/^\s*$/.test(e));
//                });
                do {
                    shuffle(lines)
                } while (/(\n{3,})|(^\n)|(\n\n$)/.test(lines.join('\n')));
                $(this).html(lines.join('\n'));
            });
        });
    </script>

{% endblock %}
