<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>{% block title %}Марсоход#1{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" type="image/png" href="/favicon.png"/>
	<script src='/js/jquery.js'></script>
	<script src='/js/jqueryrotate.js'></script>
	<script src='/js/swfobject.js'></script>
	<script src='/js/jquery.tools.min.js'></script>
	<script src="/js/jquery.lightbox-0.5.js"></script>
	<script src="/js/jquery.mousewheel.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/jquery.lightbox-0.5.css" media="screen" />
	<!--<script type="text/javascript" src="/zoombox/zoombox.js"></script>
	<link href="/zoombox/zoombox.css" rel="stylesheet" type="text/css" media="screen" />-->
	<script type="text/javascript">
		function menu(n) {
			$('.submenu').hide();
			$('#submenu'+n).show();
			return false;
		}
		$(function() {
			$('a.timg').lightBox({txtImage: '#', txtOf: 'из'});
			menu(0);
		});
	</script>
	<link rel="stylesheet" type="text/css" href="/css/main.css"/>
	{% block head %}{% endblock %}
</head>
<body>
	<a href="http://vkontakte.ru/club770007" style="position:fixed;right:20px;bottom:20px"><img src="/img/vkontakte.png"></a>
	<div id=page>
		<div class=frames style='background-image:url(/img/head/{{ rand(1, 9) }}.jpg)'></div>
		<div class=frameholes></div>
		<div id=menu>
			<a href="/band/">
				<img src='/img/logo.png'><br>
				<span>Группа</span>
			</a>
			<a href="/records/demo2/">
				<img src='/img/menu/demo2.png' title="55°28'06.9&quot; 37°17'11.9&quot; (2011)"><br>
				<span>Демо &laquo;<em>55°28'06.9&quot; 37°17'11.9&quot;</em>&raquo; (2011)</span>
			</a>
			<a href="/records/risunki/">
				<img src='/img/menu/risunki.png' title='"Рисунки" (2009)'><br>
				<span>Демо &laquo;<em>Рисунки</em>&raquo; (2009)</span>
			</a>
			<a href="/base/">
				<img src='/img/menu/base.png'><br>
				<span>База для выхода в космос</span>
			</a>
			<a href="/calls/">
				<img src='/img/menu/calls.png'><br>
				<span>Позывные</span>
			</a>
			<a href='/video/'>
				<img src="/img/menu/video.png"><br>
				<span>Видео</span>
			</a>
		</div>

		<div id=content>
			{% block content %}{% endblock %}
			{% if social %}
				{% include "social.html" %}
			{% endif %}
		</div>
	</div>
	{{ metrica|default("") }}
</body>
</html>