{% extends "base.html" %}
{% import "macros/photo.html" as photo %}
{% import "macros/flash.html" as flash %}

{% block title %}Демо «Рисунки»{% endblock %}

{% block content %}

<div class='album-view risunki'>
	<div id=description>
		<h1>Рисунки</h1>
		<div id=info>
			<h2>Марсоход#1:</h2>
			Алексей Шлыков &mdash;<br>гитары, вокал<br>
			Евгений Гамза &mdash;<br>барабаны, вокал<br>
			Олех Калачев &mdash;<br>бас-гитары, вокал<br>
		</div>
		<ol id=songlist>
			{% for track in album.tracks %}
			<li>
				<button class=play onclick="document.getElementById('player').dewgo({{ loop.index }});document.getElementById('player').dewplay();"></button>
				<a href="/media/audio/{{ album.folder }}/{{ track.filename }}">{{ track.title }}</a>
			</li>
			{% endfor %}
		</ol>
		{{ flash.dew("/risunki.xml") }}
		<div>Слова и музыка &mdash; Imagine nothing</div>
		<div id=links>
			<a href='http://community.livejournal.com/img_nothing'>http://community.livejournal.com/img_nothing</a><br>
			<a href='http://vkontakte.ru/club770007'>http://vkontakte.ru/club770007</a><br>
			<a href='http://myspace.com/imgnothing'>http://myspace.com/imgnothing</a><br>
		</div>
	</div>
	<img id=disc src='/img/disc/risunki_cd.png'>
</div>
<hr>

{% for p in photos %}
	{{ photo.thumb(p) }}
{% endfor %}

<h2>Участвовали</h2>
<ul>
	<li>Алексей Шлыков &mdash; голос, гитары, эффекты</li>
	<li>Олех Калачев &mdash; голос, бас-гитара, электроника</li>
	<li>Евгений Гамза &mdash; голос, барабаны, шейкер</li>
</ul>

<h2>О записи</h2>
<p>
    Первый опыт записи на студии, уже через 2 месяца после начала совместной игры. Демо было записано на студии «Нота», за 12 часов звукорежиссером Юрием. Вся музыка писалась живьем, голос накладывался сверху в несколько слоев.
</p>
<p>
    Сведение и мастеринг демо был сделан звукорежиссёром Игорем. Большая часть песен уже была готова к записи, однако некоторые из песен были доипровизированны прямо на студии, добавлены новые инструменты, электроника.
</p>
<p>
    После записи было изготовлено около 50 уникальных дисков, которые были розданы друзьям и на концертах группы.
</p>
<h2>Тексты</h2>
<h3>1. Нежность</h3>
<pre class="lyrics">Где твои глаза сейчас?
Кому улыбаются?
Сотней радужных оттенков
Теплом наслаждаются
Смотрят на облака задумчиво,
Видят что-то большее,
Кому-то такое нужное...
Искреннее, доброе...

Что в твоем взгляде сейчас?
Отчаяние или ласка?
Улыбка солнца или пустота,..
Приходящая напрасно?
Печалятся ли твои глаза?
И слезы в них рождаются
А может быть сомкнуты веки сейчас,
И ты во сне растворяешься</pre>
<h3>2. Параноик</h3>
<pre class="lyrics">Съежевшись до предела
Живу в своем мире
Сознание охладело
Помехи в телеэфире
Прячась от людей
Вздрагивая во сне
Смешались сотни идей
В моей больной голове

Странные сны и образы
Не принесут покой
Взъерошены волосы
Тонкой рукой
Потеряв чувство времени
Погрузившись в свои мысли
Забывая о примерении
Свою жизнь переосмыслив</pre>
<h3>4. Лист</h3>
<pre class="lyrics">Упал на землю ярким пятном
Еще радует взгляды прохожих
Светится и дышит теплом,
Пытается быть на себя похожим.
Яркость цвета постепенно уходит
Бессильны мы, что либо сделать,
Все течет по законам природы
Так же постепенно умирает тело.

Лист потеряется в тысяче других,
Станет осенним ковром леса.
Медленно чернея превратится в гниль
И унесется с ураганным ветром
Никто не разделит его одиночества
В последние дни уходящей жизни
Просто один и даже смерти хочется,
Чтоб кончились все невеселые мысли.</pre>
<h3>5. Один</h3>
<pre class="lyrics">Яркий блик
Отражение сотен граней
В переплете бесполезных названий
Потерявшийся крик
Мелькание света
Среди неоновых витрин
Потерялся и остался один
Обреченное лето
Теперь твой ход
Я уже все отдал
Прошел болевой порог
Затерялся среди зеркал
Теперь твой черед
Я уже не могу
Закончился первый виток
Дальше шаг в темноту</pre>
<h3>6. Cowshaker</h3>
<pre class="lyrics">Не чувсвтвуя жалость
Пойти по головам
Скупая усталость
Людей превращая в хлам
Тянутся руки
Пытаясь урвать кусок
Умолкшие звуки
Вечность снов

Падают камни
Разбиваясь о твердь земли
Хлопают ставни
Ты здесь лишний, уходи.

Достиг высоты
На которой остался один</pre>
<h3>7. Рисунки</h3>
<pre class="lyrics">Яркие цвета, на сером асфальте
Дарят нам дети, рисуя солнце
Мелками цветными свой след оставляя
Даря нам радость и улыбок море

Рисуют, мелками меняясь свободно
Помогая друг другу, от чистого сердца
Мечтая о всем, чем угодно
Не думай о том, что рисунки не вечны

Один рисунок, другого счастливей
Они наполняют, повсюду дороги
Превращаясь с дождем в разводы смешные
Обещая вернутся новой весною</pre>
<hr>
<center style='clear:both'><img src="/img/drums.gif"></center>

<script type="text/javascript">
	var angle = 0;
	setInterval ( rotate, 50 );
	function rotate() {
		angle+=1;
		 $('#disc').rotate(angle);
	}
	//$('#submenu img').tooltip();
	$('.album-view').dblclick(function() {
		$(this).toggleClass('cover', 'slow')
	});
</script>

{% endblock content %}