{% extends "base.html" %}
{% import "macros/photo.html" as photo %}

{% set songs = [
	["Нежность", "nezhnost"],
	["Параноик", "paranoik"],
	["Britpop", "britpop"],
	["Лист", "list"],
	["Один", "odin"],
	["Cowshaker", "cowshaker"],
	["Рисунки", "risunki"],
	["Out-music", "out"],
] %}

{% set album="risunki" %}

{% block title %}Демо «Рисунки»{% endblock %}

{% block content %}

<div class='album-view risunki'>
	<div id=description>
		<h1>Рисунки</h1>
		<div id=info>
			<h2>Imagine nothing:</h2>
			Алексей Шлыков &mdash;<br>гитары, вокал<br>
			Евгений Гамза &mdash;<br>барабаны, вокал<br>
			Олех Калачев &mdash;<br>бас-гитары, вокал<br>
		</div>
		<ol id=songlist>
			{% for song in songs %}
			<li>
				<button class=play onclick="document.getElementById('player').dewgo({{ loop.index }});document.getElementById('player').dewplay();"></button>
				<a href="/mp3/{{ album }}/{{ song.1 }}.mp3">{{ song.0 }}</a>
			</li>
			{% endfor %}
		</ol>
		<object type="application/x-shockwave-flash" data="/swf/dewplayer-multi.swf" width="240" height="20" id="player" name="player">
			<param name="wmode" value="transparent" />
			<param name="movie" value="/swf/dewplayer-multi.swf" />
			<param name="flashvars" value="showtime=on&javascript=on&xml=/mp3/{{ album }}/{{ album }}.xml" />
		</object>
		<div>Слова и музыка &mdash; Imagine nothing</div>
		<div id=links>
			<a href='http://community.livejournal.com/img_nothing'>http://community.livejournal.com/img_nothing</a><br>
			<a href='http://vkontakte.ru/club770007'>http://vkontakte.ru/club770007</a><br>
			<a href='http://myspace.com/imgnothing'>http://myspace.com/imgnothing</a><br>
		</div>
	</div>
	<img id=disc src='/img/disc/risunki_cd.png'>
</div>
<hr>
<h2>О записи</h2>
<p>
	{{ photo.thumb('risunki/cds') }}
	{{ photo.thumb('risunki/1') }}
	{{ photo.thumb('risunki/2') }}
	{{ photo.thumb('risunki/3') }}
	{{ photo.thumb('risunki/4') }}
	{{ photo.thumb('risunki/5') }}
	{{ photo.thumb('risunki/6') }}
	{{ photo.thumb('risunki/7') }}
	{{ photo.thumb('risunki/8') }}
	{{ photo.thumb('risunki/9') }}
	{{ photo.thumb('risunki/10') }}
	{{ photo.thumb('risunki/11') }}
	{{ photo.thumb('risunki/12') }}
	{{ photo.thumb('risunki/13') }}
	{{ photo.thumb('risunki/14') }}
	Наше первое демо было записано на студии "Нота". Бла-бла-бла.
</p>
<p>
	При записи мы использовали инструменты: Рустон, лопата и варган. Что интересно, вначале мы планировали записать всё за одну 6-часовую сессию.
	Причем, мы даже не знали, сколько песен будем писать (собирались писать сколько успеем). В итоге записали 8 песен и уложились в две 6-часовых
	сессии. Бла-бла-бла.
</p>
<p>

	Песни Нежность, Britpop и ... запасаны вживую, исключая вокал.<br>
	Фотки как мы пишем вживую.<br>
	Песни ... записаны не вижвую<br>
</p>
<h2>Тексты</h2>
<h3>1. Нежность</h3>
<pre>Где твои глаза сейчас?
Кому улыбаются?
Сотней радужных оттенков
Теплом наслаждаются
Смотрят на облака задумчиво,
Видят что-то большее,
Кому-то такое нужное...
Искреннее, доброе...

Что в твоем взгляде сейчас?
Отчаяние или ласка?
Улыбка солнца или пустота,..
Приходящая напрасно?
Печалятся ли твои глаза?
И слезы в них рождаются
А может быть сомкнуты веки сейчас,
И ты во сне растворяешься</pre>
<h3>2. Параноик</h3>
<pre>Съежевшись до предела
Живу в своем мире
Сознание охладело
Помехи в телеэфире
Прячась от людей
Вздрагивая во сне
Смешались сотни идей
В моей больной голове

Странные сны и образы
Не принесут покой
Взъерошены волосы
Тонкой рукой
Потеряв чувство времени
Погрузившись в свои мысли
Забывая о примерении
Свою жизнь переосмыслив</pre>
<h3>4. Лист</h3>
<pre>Упал на землю ярким пятном
Еще радует взгляды прохожих
Светится и дышит теплом,
Пытается быть на себя похожим.
Яркость цвета постепенно уходит
Бессильны мы, что либо сделать,
Все течет по законам природы
Так же постепенно умирает тело.

Лист потеряется в тысяче других,
Станет осенним ковром леса.
Медленно чернея превратится в гниль
И унесется с ураганным ветром
Никто не разделит его одиночества
В последние дни уходящей жизни
Просто один и даже смерти хочется,
Чтоб кончились все невеселые мысли.</pre>
<h3>5. Один</h3>
<pre>Яркий блик
Отражение сотен граней
В переплете бесполезных названий
Потерявшийся крик
Мелькание света
Среди неоновых витрин
Потерялся и остался один
Обреченное лето
Теперь твой ход
Я уже все отдал
Прошел болевой порог
Затерялся среди зеркал
Теперь твой черед
Я уже не могу
Закончился первый виток
Дальше шаг в темноту</pre>
<h3>6. Cowshaker</h3>
<pre>Не чувсвтвуя жалость
Пойти по головам
Скупая усталость
Людей превращая в хлам
Тянутся руки
Пытаясь урвать кусок
Умолкшие звуки
Вечность снов

Падают камни
Разбиваясь о твердь земли
Хлопают ставни
Ты здесь лишний, уходи.

Достиг высоты
На которой остался один</pre>
<h3>7. Рисунки</h3>
<pre>Яркие цвета, на сером асфальте
Дарят нам дети, рисуя солнце
Мелками цветными свой след оставляя
Даря нам радость и улыбок море

Рисуют, мелками меняясь свободно
Помогая друг другу, от чистого сердца
Мечтая о всем, чем угодно
Не думай о том, что рисунки не вечны

Один рисунок, другого счастливей
Они наполняют, повсюду дороги
Превращаясь с дождем в разводы смешные
Обещая вернутся новой весною</pre>
<h2>Credits</h2>
<p>
	Автор текстов &mdash; Алексей Шлыков.
	<h4>Вокал</h4>
	В треках #1, #4, #7 &mdash; Алексей Шлыков.<br>
	В треках #2, #6 &mdash; Олег Калачев.<br>
	В треке #5 &mdash; Евгений Гамза.
	<h4>Бэк-вокал</h4>
	В треках #1 и #7 &mdash; Олег Калачев.<br>
	В треке #7 &mdash; Евгений Гамза.
	<h4>Аранжировка</h4>
	Трек #1 &mdash; Евгений Гамза.<br>
	Треки #5 и #6 &mdash; Олег Калачев.
</p>
<p>
	Всякие фотки с записи...<br>
	Всякие интересные факты о записи...
	<hr>
	<center style='clear:both'><img src="/img/drums.gif"></center>
</p>

<script type="text/javascript">
	var angle = 0;
	setInterval ( rotate, 50 );
	function rotate() {
		angle+=1;
		 $('#disc').rotate(angle);
	}
	//$('#submenu img').tooltip();
	$('.album-view').dblclick(function() {
		$(this).toggleClass('cover', 'slow')
	});
</script>

{% endblock content %}